.login {
  position: relative;
  overflow: hidden;
  width: 750upx;
  height: 1668upx;
}
.login .login_bg {
  height: 1668upx;
  width: 750upx;
}
.login .back {
  position: absolute;
  top: 80upx;
  left: 30upx;
  height: 60upx;
  width: 60upx;
}
.login .back image {
  width: 60upx;
  height: 60upx;
}
.login .login_title {
  position: absolute;
  top: 230upx;
  width: 750upx;
  height: 120upx;
  font-size: 40upx;
  line-height: 120upx;
  border-bottom: 8upx solid #d4237a;
}
.login .login_title view {
  float: left;
  width: 50%;
  height: 120upx;
}
.login .login_title .login_title_border {
  border-bottom: 8upx solid #fff;
}
.login .body_3th {
  position: absolute;
  top: 1250upx;
  height: 50upx;
  width: 750upx;
  line-height: 50upx;
}
.login .body_3th_login {
  position: absolute;
  top: 1400upx;
}
