.body {
  box-sizing: border-box;
  padding: 0 20upx 0 20upx;
  width: 750upx;
  height: 1668upx;
  background-color: gray;
}
.body .body_inherent {
  float: left;
  margin-top: 20upx;
  height: 490upx;
  width: 100%;
  background-color: #fff;
}
.body .body_session {
  float: left;
  margin-top: 20upx;
  width: 100%;
  height: 1148upx;
  background-color: #fff;
}
