.body {
  box-sizing: border-box;
  width: 750upx;
  height: 1668upx;
}
.body .body_title {
  height: 90upx;
  width: 750upx;
  line-height: 90upx;
  letter-spacing: 10upx;
  background-color: #d4237a;
}
.body .body_inherent {
  float: left;
  margin-top: 20upx;
  height: 490upx;
  width: 100%;
  background-color: #fff;
}
.body .body_inherent .body_inherent_lis {
  box-sizing: border-box;
  margin-top: 15upx;
  height: 150upx;
  width: 100%;
  /* background-color: lightgray; */
}
.body .body_inherent .inherent_lis_color {
  background-color: #ebebeb;
}
.body .body_inherent .inherent_lis_img {
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  margin: 25upx 20upx 25upx 20upx;
  width: 100upx;
  height: 100upx;
  border-radius: 50upx;
  border: 2upx solid #f5c5f5;
  background-color: #f0f0f0;
}
.body .body_inherent .inherent_lis_img image {
  margin: 5upx 10upx;
  width: 80upx;
  height: 80upx;
}
.body .body_inherent .inherent_lis_imgSS {
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  margin: 25upx 20upx 25upx 20upx;
  width: 100upx;
  height: 100upx;
  border-radius: 50upx;
  border: 2upx solid #f5c5f5;
  background-color: #f0f0f0;
}
.body .body_inherent .inherent_lis_imgSS image {
  margin: -10upx 0;
  width: 100upx;
  height: 100upx;
}
.body .body_inherent .inherent_lis_right {
  float: left;
  box-sizing: border-box;
  height: 148upx;
  width: 590upx;
  border-bottom: 1upx solid lightgray;
}
.body .body_inherent .inherent_lis_right_inherent {
  box-sizing: border-box;
  float: left;
  margin: 50upx 0upx;
  padding-left: 10upx;
  height: 50upx;
  width: 250upx;
  line-height: 50upx;
}
.body .body_inherent .inherent_lis_right_user {
  box-sizing: border-box;
  margin: 20upx 0upx 10upx;
  padding-left: 10upx;
  height: 50upx;
  width: 250upx;
  line-height: 50upx;
}
.body .body_inherent .inherent_lis_right_text {
  box-sizing: border-box;
  float: left;
  padding-left: 10upx;
  height: 50upx;
  width: 250upx;
  line-height: 50upx;
  background-color: #fff;
}
.body .body_inherent .inherent_lis_right_arrow {
  float: right;
  margin: 55upx 20upx;
  width: 40upx;
  height: 40upx;
}
.body .body_inherent .inherent_lis_right_arrow image {
  width: 40upx;
  height: 40upx;
}
.body .body_session {
  float: left;
  margin-top: 20upx;
  width: 100%;
  height: 1148upx;
  background-color: #fff;
}
.chatPage {
  position: absolute;
  top: 0;
  height: 1668upx;
  width: 750upx;
  background-color: #fff;
}
.chatPage .chatPage_title {
  height: 90upx;
  width: 750upx;
  line-height: 90upx;
  background-color: #f0f0f0;
}
.chatPage .chatPage_title .chatPage_title_left {
  position: absolute;
  overflow: hidden;
  top: 20upx;
  left: 10upx;
  height: 50upx;
  width: 50upx;
}
.chatPage .chatPage_title .chatPage_title_left image {
  margin: 0 0 10upx 0;
  width: 50upx;
  height: 50upx;
}
