
@font-face {
  font-family: 'iconfont';  /* Project id 4065509 */
  src: url('//at.alicdn.com/t/c/font_4065509_zcrnrdsg7sh.woff2?t=1685350777960') format('woff2'),
       url('//at.alicdn.com/t/c/font_4065509_zcrnrdsg7sh.woff?t=1685350777960') format('woff'),
       url('//at.alicdn.com/t/c/font_4065509_zcrnrdsg7sh.ttf?t=1685350777960') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshang:before {
  content: "\e666";
}

.icon-pengyoufill:before {
  content: "\e745";
}

.icon-dingweixiao:before {
  content: "\e8ba";
}

.icon-danao:before {
  content: "\e636";
}

.icon-xiaoxi_:before {
  content: "\e68b";
}

.icon-quanzi:before {
  content: "\e62f";
}

.icon-wode:before {
  content: "\e818";
}

.icon-jiaoyou:before {
  content: "\ff27";
}

.icon-lingdang:before {
  content: "\e600";
}

.icon-sousuofangdajing:before {
  content: "\e621";
}

.icon-index:before {
  content: "\e665";
}

.icon-indexed-copy:before {
  content: "\e8bd";
}

.icon-sousuofangdajing-copy:before {
  content: "\e8be";
}

.icon-lingdang-copy:before {
  content: "\e8bf";
}

.icon-home:before {
  content: "\e8bb";
}

.icon-home-copy:before {
  content: "\e8bc";
}

.icon-shouye-copy:before {
  content: "\e8c0";
}

.icon-shouye:before {
  content: "\e6cb";
}

